@import '../../styles/variables.scss';

.score {
  display: flex;
  flex-direction: row;
  font-family: 'AtkinsonHyperlegible';
  width: 100%;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 3%;

  .score-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 3%;
    width: 35%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    align-items: center;
    background-color: $idle-button-color;
    border-radius: 5px;

    .player-mobile {
      display: none;
    }

    span {
      color: $font-color;
    }

    h3 {
      margin-top: 1.5%;
    }
  }

  &.multiplayer {
    width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 25%;
  
        .current-turn {
          margin-right: 5%;
          margin-top: 5%;
          font-size: small;
          transition: all 0.3s ease;
        }

        .triangle {
          visibility: hidden;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 25px solid $main-button-color;
          margin-bottom: -5%;

          &.show {
            visibility: inherit;
          }
        }
        
        .score-box {
          width: 75%;
          padding-left: 5%;
          padding-right: 5%;
          transition: all 0.5s ease;

          h3 {
            margin-top: 3%;
          }

          &.current-player {
            background-color: $main-button-color;
            color: $grid-bg-color;

            span {
              color: $grid-bg-color;
            }
          }
        }
      }
    }
  }

  // Mobile breakpoint
  @media screen and (max-width: 425px) {
    margin-top: 10%;

    .score-box {
      flex-direction: column;
      padding: 2%;
      padding-left: 35%;
      padding-right: 35%;
      max-width: 100%;

      .player-desktop {
        display: none;
      }
      
      .player-mobile {
        display: block;
        margin-top: 10%;
      }

      &.time {
        margin-right: 15%;
      };
    }

    &.multiplayer {
      width: 95%;
      margin: 0;
      padding: 0;
      
      ul {
        margin: 0;
        padding: 0;
        margin-left: 2.5%;
        
        li {
          margin-top: 5%;
          .current-turn {
            display: none;
          }
          
          .triangle {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $main-button-color;
          }

          .score-box {
            width: 70%;
          }
        }
      }
    }
  }
}