@import '../../styles/variables.scss';

.score {
  display: flex;
  flex-direction: row;
  font-family: 'AtkinsonHyperlegible';
  width: 50%;
  margin-left: 25%;
  justify-content: center;

  &.multiplayer {
    width: 80%;
    margin-left: 10%;

    ul {
      display: flex;
      justify-content: center;
      margin-top: 1%;
      width: 100%;
      justify-content: space-between;
      
      li {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        list-style: none;
        width: 25%;
  
        .current-turn {
          margin-right: 5%;
          margin-top: 5%;
          font-size: small;
          transition: all 0.3s ease;
        }
        
        .score-box {
          width: 75%;
          padding-left: 5%;
          padding-right: 5%;
          transition: all 0.5s ease;
        }
      }
    }
  }


  .score-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 3%;
    width: 35%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    align-items: center;
    background-color: $idle-button-color;
    border-radius: 5px;

    span {
      color: $font-color;
    }

    h3 {
      margin-top: 1.5%;
    }
  }
}