.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
  padding-bottom: 0;
  padding-top: 5%;

  li {
    list-style: none;
    cursor: pointer;
    width: 12%;
    margin-bottom: 3%;
    margin-right: 3%;

    button {
      width: 100%;
      padding: 40%;
      border-radius: 50%;
    }

    &.selected {
      .tile {
        .svg {
          visibility: visible;
        }
      }
    }

    &.matched {
      background-color: white;
      .tile {
        .svg {
          visibility: visible;
        }
      }
    }
    
    .tile {
      svg {
        fill: rgb(235, 235, 234);
        visibility: hidden;
      }
    }
  }
}