@import '../../styles/variables.scss';

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  font-family: 'AtkinsonHyperlegible';

  div {
    display: flex;
    width: 25%;
    justify-content: space-evenly;

    button {
      border-radius: 25px;
      width: 40%;
      border-style: none;
      transition: all 0.3s ease;
      height: 100%;
      padding: 3%;

      &:hover {
        opacity: 80%;
      }
    }

    .menu-button {
      background-color: $main-button-color;
      color: $grid-bg-color;
      display: none;
    }

    .restart-button {
      background-color: $main-button-color;
      color: $grid-bg-color;
    }

    .new-game-button {
      background-color: $idle-button-color;
      color: $selected-button-color;

      &:hover {
        background-color: $hover-button-color;
        color: $grid-bg-color;
      }
    }
  }

  // Tablet breakpoint
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

    div {
      width: 35%;

      button {
        width: 45%;
        margin-left: 2%;
      }
    }
  }
}