@import '../../styles/variables.scss';

.game-over {
  font-family: 'AtkinsonHyperlegible';

  .modal-content {
    padding: 5%;
  }
  
  .modal-header {
    display: flex;
    flex-direction: column;
    border-bottom-style: none;

    .modal-title {
      font-size: xx-large;
      color: $start-bg-color;
    }

    span {
      color: $font-color;
      margin-top: 1%;
    }
  }

  .modal-body {
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      justify-self: center;
    }

    .results-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $idle-button-color;
      margin-bottom: 3%;
      padding-top: 1.0%;
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 5px;
      color: $font-color;

      h3 {
        margin-top: 1%;
        color: $selected-button-color;
      }

      &.winner {
        background-color: $start-bg-color;
        color: $grid-bg-color;

        h3 {
          color: $grid-bg-color;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    border-top-style: none;
    padding-top: 0;
    justify-content: space-between;
    
    button {
      width: 45%;
      border-radius: 50px;
      border-style: none;
    }

    .restart-button {
      background-color: $main-button-color;
    }

    .new-game-button {
      background-color: $idle-button-color;
      color: $selected-button-color;
    }
  }

  // Mobile breakpoint
  @media screen and (max-width: 425px) {
    margin-top: 20%;
    width: 95%;
    margin-left: 2.5%;

    .modal-body {
      .results-box {
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;

        h3 {
          margin-top: 3%;
        }
      }
    }

    .modal-footer {
      flex-direction: column;

      button {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1.3rem;
      }

      .restart-button {
        margin-bottom: 4%;
      }
    }
  }
}